* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-size: 15px; */
}
body {
	overflow-x: hidden;
	/* padding: 0 5vw; */
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: center; */
}
.front {
	max-width: 100vw;
	min-height: 650px;
	background-color: blue;
	background: url('./images/header.png');
	background-repeat: no-repeat;
	background-position: 30vw;
	background-size: cover;
	/* background-position: 100px; */
}
.navbar {
	padding-top: 1em !important;
}
.nav-link {
	/* color: red; */
	font-size: 1.1em !important;
	font-weight: 600;
}
.nav-link:hover {
	border-bottom: 2px solid #d8621f;
	transition: 1s ease-in-out;
}

.nav-item {
	/* text-transform: uppercase; */
	/* color: red; */
	margin: 2px 5px;
}
.logoimg {
	width: 200px;
	height: 140px;
	margin-top: 0.1em;
}
/* @media only screen and (max-height: 740px) {
	.front {
		min-height: 105vh;
	}
}

@media only screen and (max-height: 700px) {
	.front {
		min-height: 110vh;
	}
}
@media only screen and (max-height: 850px) {
	.front {
		min-height: 102vh;
	}
} */
.navbar-light .navbar-nav .nav-link .ocolor {
	color: blue;
}
@media only screen and (max-width: 1000px) {
	.a-link,
	.b-link,
	.c-link,
	.d-link,
	.e-link,
	.f-link,
	.g-link {
		color: #f26e23 !important;
	}
}
.a-link,
.b-link,
.c-link {
	color: #f26e23 !important;
}
@media only screen and (max-width: 1400px) {
	.d-link .maxim {
		color: #fff !important;
	}
}
/* banner csss */
.banner {
	margin-top: 4em;
	display: flex;
	/* flex-direction: row; */
	align-items: center;
	justify-content: space-around;
}
.banner .f-left {
	margin-right: 5vw;
}
.banner .f-rit {
	margin-left: 5vw;
}
/* .ocolor {
	color: #fff;
} */
.fcolor {
	color: #f27024;
}
.f-left h3 {
	color: #1f386d;
	font-size: 1.4em;
}
.f-left h1 {
	color: #933889;
	font-size: 2em;
	font-weight: 700;
}
.f-left .quote-btn {
	font-size: 1.1em;
	padding: 5px 1.5em;
	background-color: #f27024;
	font-weight: 500;
	color: #fff;
	border-radius: 15px;
	border: 0px;
}
.f-left .quote-btn:hover {
	color: #f27024;
	background-color: #fff;
}
.f-rit .video {
	height: 350px;
	width: 600px;
	border-radius: 20px;
	border: 1.5em solid #000;
	outline: 4px solid #928b87;
	-webkit-box-reflect: below 10px linear-gradient(rgba(0, 0, 0, 0), transparent, rgba(0, 0, 0, 0.4));
}
/* media querey for banner */
/* @media only screen and (max-width: 1400px) { */
/* .banner {
		
		min-height: 90vh;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
	.f-rit .video {
		margin-top: 5vh;
	}
	.navbar {
		padding-top: 0;
	}
} */

/* post banner css */
.post-banner {
	margin-top: 5em;
}
/* @media only screen and (max-width: 1400px) {
	.post-banner {

		margin-top: 20vh;
	}
} */
.p-banner {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.p-banner .head1 {
	max-width: 80vw;
	color: #005fa3;
	/* font-size: 4rem; */
	font-weight: 200;
}
.p-banner .head1 h1 {
	text-align: center;
	font-size: 2.5em;
}

/* --------------------int table k content------------------- */

.mid-sec .int-tab {
	font-size: 1em;
	text-align: center;

	margin: 0 auto;
}

.mid-sec .int-tab td {
	padding: 0 3em;
}

.mid-sec .int-tab .item-1 {
	color: #000;
	font-weight: 600;
	padding-bottom: 2px;
	margin-bottom: 5px;
}
.mid-sec .int-tab .item-1 td:hover {
	color: #f26e23;
	/* font-size: 1.7em; */
	transition: 1s ease-in-out;
}
.mid-sec .int-tab .item-2 {
	font-size: 12px;
	color: #fff;
	font-weight: 500;
}
@media only screen and (max-width: 1400px) {
	.mid-sec .int-tab {
		font-size: 1.3em;
	}
	.mid-sec .int-tab .item-2 {
		font-size: 14px;
	}
}
@media only screen and (min-width: 1400px) {
	.mid-sec .int-tab {
		font-size: 1.4em;
	}
	.mid-sec .int-tab .item-2 {
		font-size: 16px;
	}
	.mid-sec .int-tab td {
		padding: 0 3.1em;
	}
}

.cont-bot {
	font-size: 1.2em;
	font-weight: 200;
	text-align: center;
	margin: 1.2em auto;
	max-width: 80vw;
}
.cont-bot h2 {
	color: #ff751a;
	font-weight: 600;
}
.cont-bot h4 {
	letter-spacing: 1px;
}
.foot-cont {
	margin-top: 1.5em;
	display: flex;
	justify-content: space-around;
	/* max-width: 80vw; */
	/* margin-left: 10vw; */
	/* margin-right: 10vw; */
}
/* @media only screen and (max-width: 1300px) {
	.foot-cont {
		justify-content: space-evenly;
	}
} */
.foot-cont-item {
	margin: auto 10px;
	display: flex;
	justify-content: flex-end;
	max-width: 300px;
}
.foot-cont-item img {
	margin-right: 10px;
}

/* event section */
.event {
	/* max-width: 90vw; */
	margin: 8em auto 0;
	padding-left: 2em;
	/* min-height: 60vh; */
	background-image: linear-gradient(to right, #005fa3 60%, #fff 40%);
	display: flex;
	/* justify-content: center; */
	/* align-items: center; */
}
@media only screen and (max-width: 1200px) {
	.event {
		max-width: 100vw;
		display: block;
	}
	.event .event-back {
		padding: 0;
	}
}
.event .event-back {
	/* max-width: 20%; */
	/* padding: 10vw; */
	/* min-height: 50vh; */
	padding: 3em;
	max-width: 600px;
	padding-right: 5em;
	/* margin: 5em; */
	margin-right: 2em;
	max-height: 4 00px;
	/* background-image: linear-gradient(to right, #617dd1 120%, #fff); */
	/* background-image: linear-gradient(to right,; */
	/* background-position: 50%; */
	font-size: 15px;
	color: #fff;
}
.event-cont {
	/* border: 2px solid black; */
	/* padding: -10px; */
	display: flex;
	justify-content: center;
	align-items: center;
	/* border: 2px solid black; */
	/* margin-left: -100px; */
}

.event-back .e-text h1 {
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}
.event-cont .caro1,
.caro2 {
	height: 200px;
	width: 200px;
	margin: 10px;
	border: 10px solid #f6f6f8;
	box-shadow: 5px 5px 10px #617dd1;
	/* margin: 5px; */
}
.event-cont .caro1 img,
.caro2 img {
	height: 180px;
	width: 300px;
}

/* news section */
.news {
	margin: 5em auto 2em;
	width: 80vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.news h1 {
	color: #f16e22;
	margin-bottom: 1em;
}
.news-card {
	display: flex;
	justify-content: space-between;
}
.news-card .crd {
	height: 600px;
	width: 50%;
	margin: 50px;

	/* padding: 0 50px; */
}
.news .news-card .k-card {
	border: 0px solid red !important;
}
.card .n-blank {
	height: 300px;
	width: 100%;
	background-color: rgb(54, 53, 53);
	margin-bottom: 3em;
}
.card .n-date {
	/* border: 2px solid black; */
	width: 30%;
	color: #fff;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: inline;
	text-align: center;
	background-color: #ff751a;
	border-radius: 20px;
	margin-top: -60px;
	margin-left: 1vw;
	margin-bottom: 20px;
}

.card .btn-read {
	color: #005ea3;
	text-decoration: none;
	font-weight: 600;
	/* margin-left: 60%; */
}
.card hr {
	vertical-align: middle;
	display: inline-block;
	width: 70%;
	height: 2px;

	margin-right: 1vw;
	color: #005ea3;
	opacity: 1;
}
@media only screen and (max-width: 1200px) {
	.news-card {
		flex-direction: column;
	}
	.news-card .card {
		/* height: 50vh; */
		transform: scaleX(1.5);
		/* transform: scaleY(1.2); */
	}
}

/*--------------------------------  story content  -----------------------------------*/
.ext {
	/* border: 2px solid red; */
	background-image: url(./images/midtrm.png);
	background-repeat: no-repeat;
	background-position: -4em;
	max-width: 70vw;
	margin: -5em auto;
	height: 600px;
	/* display: flex; */
	/* flex-wrap: nowrap; */
	/* justify-content: space-between; */
}
@media only screen and (min-width: 1400px) {
	.ext {
		background-position: 1em;
	}
}
.ext .l-ext {
	visibility: hidden;
	width: 700px;
	height: 700px;
}
.ext .l-ext img {
	width: 100%;
	height: 100%;
}
.ext .r-ext {
	visibility: hidden;
	/* border: 2px solid yellow; */
	margin-left: 1em;
	/* display: flex; */
	/* flex-direction: column; */
	/* align-items: center; */
	/* text-align: center; */
}
.ext .r-ext .ext-img {
	/* border: 2px solid green; */
	width: 500px;
	height: 400px;
}
.ext .r-ext .ext-img img {
	width: 100%;
	height: 100%;
}
.ext .r-ext .ext-cont {
	margin-top: 1em;
	/* border: 2px solid blue; */
	max-width: 80%;
}
.ext .r-ext .ext-cont p {
	font-size: 15px;
	letter-spacing: normal;
	word-spacing: 0.1px;
}
/* ---------------- Story content ------------------------- */
.story {
	margin-top: 9em;
	text-align: center;
	text-transform: uppercase;
	color: #1f386d;
	font-weight: 700;
	/* border: 2px solid black; */
}
.story .caro3 {
	margin: 0 10vw;
	width: 90%;
	height: 720px;
	/* margin-bottom: 20px; */
}
/* @media only screen and (min-width: 1200px) {
	.story {
		margin-bottom: 10vh;
		margin-top: -30vw;
	}
} */
/* @media only screen and (min-width: 1400px) {
	.story {
		margin-bottom: 20vh;
		margin-top: -40vw;
	}
}

@media only screen and (max-width: 1000px) {
	.extra {
		margin-bottom: 65vw;
	}
	.story {
		margin-bottom: -20vh;
	}
}
@media only screen and (min-height: 600px) {
	.extra {
		margin-bottom: 50em;
	}
} */
.ano {
	min-width: 100%;
	margin-top: -4em;
	text-align: center;
	background-color: #ff751a;
	padding: 2em 0 0;
	color: #fff;
	/* margin-bottom: 10vh; */
}
.ano .ano-image {
	margin-top: 2em;
}
.alum {
	background-color: #005fa3;
	margin: 0;
	padding: 2em 0;
}

footer {
	width: 100%;
	/* height: auto; */
	background-color: #005fa3;
	color: #fff;
}

footer .logo {
	width: auto;
	height: 20em;
	margin: auto;
}

footer .logo img {
	position: relative;
	top: 3rem;
	border: 7px solid #fff;
}

footer .infromation {
	position: relative;
	left: 14rem;
}

footer .app {
	text-align: center;
}

footer .social-media {
	position: relative;
	top: 1rem;
}

footer .social-media ul {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

footer .social-media ul li {
	list-style: none;
	font-weight: bolder;
	margin: 0 10px;
	cursor: pointer;
}

footer .social-media ul li i {
	font-size: 20px;
}

footer .last {
	height: 10vh;
	color: #fff;
	text-align: center;
	background-color: #1f386e;
}

footer .last p {
	overflow: hidden;
	position: relative;
	top: 2rem;
}

/* media quereies */
@media only screen and (max-width: 768px) {
	.f-left h3 {
		font-size: 1.5em;
	}
	.f-left h1 {
		font-size: 2em;
	}
	.f-rit .video {
		width: 80vw;
	}
	.frme {
		width: 75vw;
	}
	.cont-head .cont {
		flex-direction: column;
		justify-content: space-between;
	}
	.cont-head .cont .cont-item {
		margin: 1.2em auto;
	}
	.foot-cont {
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}
	.foot-cont-item {
		margin: 1.2em -10px;
		max-width: 38vw;
	}
	.event {
		flex-direction: column;
	}
	.event-cont {
		flex-direction: column;
		box-shadow: none;
	}
}
@media only screen and (max-width: 1100px) {
	.foot-flex {
		flex-direction: column;
	}
	.acc {
		min-height: 50vh;
		flex-direction: column;
		justify-content: space-between;
	}
	.acc-item {
		margin: 50px auto;
	}
	.section7 {
		margin-bottom: 20vh;
	}
}
@media only screen and (max-width: 1400px) {
	.nav-item {
		font-size: 10px;
		margin: 2px 2px;
	}
}

/* -------------------------n-News card--------------- */
.sect {
	margin: 5em auto;
	display: flex;
	justify-content: space-evenly;
}
.s-card {
	width: 400px;
	border-radius: 15px 15px 0 0;
	box-shadow: 2px 0px 5px #808080;
}
.s-card-head {
	height: 305px;
	/* border: 2px solid red; */
	/* border-radius: 15px 15px 0 0; */
}
.s-card-head img {
	border-radius: 15px 15px 0 0;
	height: 100%;
	background-size: cover;
	width: 100%;
}
.s-card-body {
	/* border: 2px solid green; */

	border: 0px;
	padding: 0 auto;
	display: flex;
	flex-direction: column;
}
.s-card-body p {
	margin-top: 2em;
	font-size: 15px;
}
.s-card-body h5 {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-transform: uppercase;
	font-size: 2em;
}
.s-btn {
	background-color: #933888;
	max-width: fit-content;
	border-radius: 20px;
	padding: 5px 20px;
	color: #fff;
	font-weight: 600;
	border: 0px;
	text-transform: capitalize;
	align-self: flex-end;
}

/* ------------------------------CITY MAP ------------------ */
.mapp {
	/* border: 2px solid red; */
	margin: 2em auto;
}
.citmap {
	margin: 0 auto;
	border: 1px solid black;
	display: flex;
	justify-content: space-evenly;
	min-height: 600px;
	max-width: 950px;
	box-shadow: 0 0 10px #808080;
}
.citmap .l-mapp {
	/* border: 2px solid blue; */
	width: 50%;
	display: flex;
	flex-direction: column;
	/* align-items: flex-start; */
}
.l-mapp .map-log {
	/* border: 2px solid yellow; */
	width: fit-content;
	margin: 1em auto;
}
.citmap .l-mapp .map-cont {
	margin-top: 1em;
}
.map-cont .map-list {
	list-style-type: none;
}
.map-item {
	max-width: 80%;
	text-transform: capitalize;
	font-size: 1.2em;
	margin: 1.8em auto 1em;
	font-weight: 600;
	border-bottom: 1px solid #808080;
	cursor: pointer;
}
.citmap .r-map {
	width: 50%;
	/* border: 2px solid gray; */
}
.r-map iframe {
	width: 100%;
	height: 100%;
}

/* ----------------------accradation items ---------- */
.fin-acc {
	margin: 2em auto;
}
.fin-acc h3 {
	color: #f38242;
}
.acc {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.acc-itm {
	margin: 0 2em;
	/* height: 300px; */
	/* width: 300px; */
}
/* ----------------------alumi section -------------------------- */
.alumi {
	margin: 5em auto;
}
.alu-img {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ali-item {
	height: 200px;
	width: 200px;
	/* border: 2px solid red; */
	margin: 0 10px;
}
.alu-img .itm1,
.alu-img .itm4 {
	height: 300px;
	width: 200px;
}
.alu-img .itm2,
.alu-img .itm3 {
	height: 200px;
}
