@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	font-size: inherit;
	overflow-x: hidden;
}

ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: black;
}
/* -------variables----- */
:root {
	/* font family variables */
	--ff-1: 'Jost', sans-serif;
	--ff-2: 'Josefin Sans', sans-serif;
	/* ----------------------------------------font color=----------------------- */
	--fc-dark: #224277;
	--fc-purp: #97438e;
	--fc-oran: #f57435;
	--fc-grey: #7f7f7f;
	--fc-blue: #0064a7;
	/* ------------------------font-size----------------------------------- */
	--fs-about: 9rem;
	--fs-para: 1.1rem;
	--fs-para2: 1rem;
	--fs-head0: 3rem;
	--fs-head1: 4rem;
	--fs-head2: 6rem;
}

/* ------------------main css----------- */
.navi {
	/* border: 2px solid green; */
	padding: 1.5em 0;
	background-color: var(--fc-dark);
}
nav {
	/* border: 2px solid red; */
	max-width: 80vw;
	margin: 0 auto;
}
nav .nav-links {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav .nav-links .nav-li a {
	color: white;
	font-weight: 300;
	letter-spacing: 1px;
}
/* -------------------banner section---------- */
.banner {
	/* border: 2px solid red; */
	height: 1000px;
	width: 100%;

	background: url('./images/Vector\ 1.png') no-repeat;
	background-size: cover;
	background-position: 0 -7rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner h1 {
	font-size: var(--fs-about);
	margin-top: 2em;
	color: #fff;
	font-weight: 700;
	font-family: var(--ff-2);
}

/* --------------content section--------- */
.content {
	max-width: 80vw;
	margin: 2em auto;
}
.part1 {
	margin: 2em 0 6em;
}
.part1 h1 {
	text-align: center;
	font-size: var(--fs-head1);
	font-family: var(--ff-2);
	font-weight: 600;
	letter-spacing: 0.2px;
}
.part1 h2 {
	text-align: center;
	font-size: var(--fs-head2);
	font-weight: 900;
	color: var(--fc-purp);
	margin-bottom: 1em;
}
.part1 p {
	font-size: var(--fs-para);
	letter-spacing: 0.5px;
	word-spacing: 2px;
	font-weight: 500;
	line-height: 30px;
	color: var(--fc-grey);
}

.part2 h3 {
	font-size: 2rem;
	color: var(--fc-purp);
}
.part2 h4 {
	font-size: var(--fs-para2);
	color: var(--fc-grey);
	letter-spacing: 0.5px;
	word-spacing: 2px;
	font-weight: 500;
	margin-bottom: 1em;
	padding-bottom: 0.5em;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-image: linear-gradient(to right, var(--fc-purp) 10%, #fff 10%) 1;
}
.part2 p {
	font-size: var(--fs-para2);
	color: var(--fc-grey);
	letter-spacing: 0.5px;
	word-spacing: 2px;
	font-weight: 200;
	line-height: 25px;
}
.part2 .top {
	display: flex;
	justify-content: center;
}
.part2 .cont-left {
	max-width: 50%;
}
.part2 .cont-rit {
	/* border: 2px solid black; */
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box {
	height: 200px;
	width: 300px;
	background-color: #7f7f7f;
	position: relative;
}
.part2 .belo {
	margin-top: 5em;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
}
/* -------------------video frme----------------- */
.video {
	text-align: center;

	width: 100%;
	margin: 2em 0;
}
.video h1 {
	font-size: 3.2rem;
	color: var(--fc-blue);
	margin: 1em 0;
}
.video .frme {
	/* border: 2px solid black; */
	height: 600px;
	overflow-y: hidden;
	width: 100%;
}
/* https://youtu.be/eHYoCYDhCPo */

/* 0--------------------moto section------------------ */
.moto {
	max-width: 80vw;
	margin: 0 auto;
	/* border: 2px solid red; */
}
.moto h1 {
	font-size: var(--fs-head0);
	color: var(--fc-grey);
	/* line-height: 50px; */
	text-align: center;
}
.moto h2 {
	text-align: center;
	font-size: var(--fs-head1);
	color: var(--fc-oran);
}
.moto h3 {
	font-size: 1.2rem;
	color: var(--fc-purp);
	font-weight: 800;
	margin-bottom: 10px;
}
.moto h4,
.moto p {
	color: var(--fc-grey);
	font-size: var(--fs-para2);
}
.moto .moto-cards {
	display: flex;
	justify-content: space-evenly;
}
.moto .moto-cards .card {
	height: 400px;
	width: 310px;
	margin: 3em 0;
	/* border: 2px solid black; */
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(107, 99, 99, 0.5);
}
/* media querey for 1200px */
@media only screen and (max-width: 1200px) {
	.moto .moto-cards .card {
		height: 420px;
		width: 280px;
	}
}
.card .card-head {
	margin: 1rem;
	display: flex;
	justify-content: space-between;
}
.card-head .card-img {
	z-index: 100;
	/* margin-top: -10px; */
}
.card-head h4 {
	margin-bottom: 10px;
}
.card-body p {
	line-height: 20px;
	letter-spacing: 1px;
	word-spacing: 2px;
}
.card .card-body {
	margin: 1rem;
}
/* --------------------------- gallary------------- */
.gallary {
	width: 100%;
	height: 850px;
	margin-top: 3em;
	background-color: var(--fc-blue);
}
.gal {
	max-width: 80vw;
	margin: 0 auto;
	height: 100%;
	background-color: #fff;
}
.top-gal,
.low-gal {
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.gal-card:nth-child(1) {
	transform: rotate(10deg);
}

.gal-card:nth-child(2) {
	transform: rotate(-5deg);
}

.gal-card:nth-child(3) {
	transform: rotate(10deg);
}
.gal-card {
	/* border: 2px solid blue; */
	width: 300px;
	height: 350px;
	margin: 0 10px;
	background-color: #ffffe6;
	box-shadow: 0 0 10px #000;
}
@media only screen and (max-width: 1200px) {
	.gal-card {
		width: 280px;
		height: 370px;
	}
}
.gal-card .gal-img {
	height: 60%;
	width: 95%;
	margin: 5px auto;
	overflow-y: hidden;
}
.gal-card .gal-img img {
	width: 100%;
	height: 100%;
}
.gal-card .gal-cont {
	text-align: center;
	padding-top: 1.5em;
}
.gal-card .gal-cont h1 {
	font-size: 1.5rem;
	letter-spacing: 2px;
	font-weight: 800;
	color: var(--fc-purp);
}
.gal-card .gal-cont p {
	font-size: 1.1rem;
	color: var(--fc-grey);
}
/* ----------------------CONSULT --------------------- */
.consult {
	/* border: 2px solid red; */
	max-width: 80vw;
	margin: 5em auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.consult img {
	margin: 5px;
}
.consult h1 {
	color: var(--fc-oran);
	font-size: 2.5rem;
	/* display: inline; */
}

/* --------------------FOOTER----------- */
footer {
	background-color: var(--fc-blue);
}
footer .foot-cont {
	max-width: 80vw;
	margin: 0 auto;
}
.foot-top {
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.foot-top img {
	border: 4px solid #fff;
	height: 150px;
	width: 260px;
}
.foot-cont .foot-body {
	margin: 10px 0;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
.left-foot h1 {
	font-size: 1.5rem;
	margin: 0.8rem 0;
}
.foot-rit {
	margin-top: 2em;
}
.foot-rit h2 {
	font-size: 1.5rem;
}
.foot-links {
	display: flex;
	justify-content: flex-start;
}
.foot-link {
	margin: 0 5px;
}
.foot-link:nth-child(1) {
	margin: 0;
}
.foot-link svg {
	width: 20px;
	height: 20px;
}
/* foot late */
.foot-late {
	background-color: var(--fc-dark);
	height: 50px;
	font-size: var(--fs-para2);
	color: #fff;
	font-weight: 200;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 1px;
}
